.landing {
    padding-left: 15vw;
    background-color: #e7e7e7;
    transition: 0.2s all ease;
}
.landingDark {
    background-color: #002631;
    transition: 0.2s all ease;
}

@media only screen and (max-width: 768px) {
    .landing {
        padding-left: 20vw;
    }
}

@media only screen and (max-width: 480px) {
    .landing {
        padding-left: 0;
    }
}
