.menu {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 6px 12px #ababab;
    overflow-x: hidden;
    padding: 10vh 0 10vh 0;
    transition: 0.2s all ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menuDark {
    background-color: #002631;
    box-shadow: 6px 6px 12px #001921;
    transition: 0.2s all ease;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1 1 auto;
    width: 100%;
}

.link {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    padding-left: 1rem;
    margin-bottom: 0.7rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(58, 58, 58);
    transition: 0.1s box-shadow ease;
    flex: 1 1 auto;
}

.link:hover {
    color: #1967d2;
    background-color: rgba(66, 133, 244, 0.149);
    box-shadow: 6px 6px 12px #cbd2db, -6px -6px 12px #ffffff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: none;
    font-weight: 500;
    transition: 0.1s box-shadow ease;
}

.buttonContainerDark .link {
    color: rgb(253, 251, 224);
    transition: 0.2s all ease;
}

.buttonContainerDark .link:hover {
    color: rgb(253, 251, 224);
    background-color: #002631;
    box-shadow: 6px 6px 12px #001921, -6px -6px 12px #003341;
    transition: 0.2s box-shadow ease;
    font-weight: 500;
}

.fontAwesome {
    margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 20vw;
    }
}

@media only screen and (max-width: 480px) {
    .menu {
        width: 60vw;
        justify-content: space-evenly;
        transform: translateX(-65vw);
        transition: all 0.2s ease;
    }
    .menuOpen {
        transform: translateX(0);
    }
    .buttonContainer {
        flex: 2 1 auto;
    }
    .link {
        font-size: 1.8rem;        
    }
    .menu > div:first-child {
        width: 100%;
        position: absolute;
        top: 1.5rem;
        left: 1rem;
    }
}
