.CountrySelector {
    padding: 6px 8px 6px 16px;
    margin-top: 1.8rem;
    text-decoration: none;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #818181;
    display: block;
}

.CountrySelector select {
    font-size: 20px;
    cursor: pointer;
}
