.countrySelector {
    padding: 0 1rem;
    margin-top: 1.8rem;
    text-decoration: none;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #5f6368;
    display: block;
    flex: 3 1 auto;
}

.countrySelector select {
    margin-left: 0.2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .countrySelector {
        font-size: 1.8rem;
        margin-right: 1rem;
    }
    .countrySelector select {
        font-size: 1.8rem;
        margin-left: 0;
        margin-top: 0.2rem;
    }

    .countrySelector select option {
        font-size: 1.2rem;
    }
}
