.Drawer {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #fff;
    overflow-x: hidden; 
    padding-top: 10vh;  
}

.Drawer button {
    width: 100%;
    text-align: left;
    padding: 6px 8px 6px 16px;
    margin-bottom: 0.7rem;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    color: #3c4043;
    display: block;
}


.Drawer button:hover {
    color: #1967d2;
    background-color: rgba(66,133,244,0.149);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fontAwesome {
    margin-right: 15px;
}

