.NewsItem {
    min-height: 55vh;
    width: 300px;
    background-color: #c4c4c4;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsItem img {
    width: 300px;
    height: 40%;
    margin: -10px 0 0 -10px;
}

.newsItem h4,
.newsItem p {
    padding-top: 15px;
}

.newsItem a {
    display: inline-block;
    padding-top: 15px;
}
