.NewsItem {
    min-height: 55vh;
    width: 300px;
    background-color: #c4c4c4;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.NewsItem img {
    width: 300px;
    height: 40%;
    margin: -10px 0 0 -10px;
}

.NewsItem h4,
.NewsItem p {
    padding-top: 15px;
}

.NewsItem h3, .NewsItem h4 {
    font-weight: bold;
}

.NewsItem a {
    display: inline-block;
    padding-top: 15px;
}
