.redditApp {
    height: var(--app-height);
    width: var(--app-width);
    background-color: var(--app-background-color-light-mode);
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--app-text-color-light-mode);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 5px;
    margin: 0 1rem 1rem 1rem;
    transition: 0.2s all ease;
}

.redditAppDark {
    height: var(--app-height);
    width: var(--app-width);
    background-color: var(--app-background-color-dark-mode);
    border: var(--app-border-dark-mode);
    border-radius: 5px;
    color: var(--app-text-color-dark-mode);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 5px;
    margin: 0 1rem 1rem 1rem;
    transition: 0.2s all ease;
}

.redditHeading {
    width: 100%;
    height: auto;
    text-align: start;
    color: var(--app-heading-color-light-mode);
    padding: 0 1.5rem;
    white-space: normal;
    transition: 0.2s all ease;
}


.redditHeadingDark {
    width: 100%;
    height: auto;
    text-align: start;
    color: var(--app-heading-color-dark-mode);
    padding: 0 1.5rem;
    transition: 0.2s all ease;
}

.redditButtons,
.redditButtonsDark {
    width: 100%;
    height: auto;
    padding: 0 1rem;
}

.redditButtons button {
    width: 60px;
    height: 30px;
    color: var(--app-text-color-light-mode);
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
}

.redditButtonsDark button {
    width: 60px;
    height: 30px;
    color: var(--app-text-color-dark-mode);
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
}

.redditButtons button:hover,
.redditButtonsDark button:hover {
    color: #1967d2;
    background-color: rgba(66, 133, 244, 0.149);
    border-radius: 20px;
}

.svg {
    width: 15px;
    height: auto;
    margin: 0;
    fill: rgb(58, 58, 58);
    vertical-align: middle;
    display: inline-block;
}

.svgDark {
    width: 15px;
    height: auto;
    margin: 0;
    fill: var(--app-text-color-dark-mode);
    vertical-align: middle;
    display: inline-block;
}

.svg:hover,
.svgDark:hover {
    fill: #1967d2;
}

.results {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}

.resultsBox {
    width: 100%;
    height: 200px;
    margin: 5px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    transition: 0.2s all ease;
}

.resultsBoxDark {
    width: 100%;
    height: 200px;
    margin: 5px 0;
    background-color: rgb(13, 0, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    transition: 0.2s all ease;
}

.upvotes {
    display: grid;
    place-items: center;
    background-color: rgb(231, 231, 231);
    height: 100%;
    flex-basis: 10%;
    text-align: center;
    font-weight: 700;
    transition: 0.2s all ease;
}

.upvotesDark {
    display: grid;
    place-items: center;
    background-color: rgb(18, 12, 102);
    height: 100%;
    flex: 1 1 10%;
    text-align: center;
    font-weight: 700;
    transition: 0.2s all ease;
}

.subreddit img {
    width: 20px;
    height: auto;
    margin: auto;
    background-color: rgb(231, 231, 231);
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}

.subreddit a {
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.7rem;
    color: #898989;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;
    height: 100%;
    padding: 5px;
}

.mainContent {
    width: 100%;
}

.title a {
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--app-text-color-light-mode);
}

.titleDark a {
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--app-text-color-dark-mode);
}

.linkToThread {
    font-size: 0.7rem;
    display: inline-block;
}

.linkToThreadDark {
    font-size: 0.7rem;
    display: inline-block;
    color: #898989;
}

.comments a {
    font-weight: 700;
    font-size: 0.7rem;
    color: #898989;
    text-decoration: none;
}

.image {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image a {
    width: 98%;
    height: auto;
    border-radius: 5px;
}

.image a img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
