@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.stockApp {
    height: 400px;
    width: 400px;
    background-color:#fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #202124;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1rem 1rem 1rem;;
}

.stockHeading {
    width: 100%;
    height: auto;
    text-align: start;
    color: #5f6368;
    padding: 0 1.5rem;
}

.stockTilesContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.stockTiles {
    display: flex;
    padding: 5px;
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 24%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8rem;
}

.tickerSymbol {
    border-radius: 4px;
    background-color: #183888;
    padding: 1px 5px;
}

.tickerSymbol h4 {
    color: #fff;
}

.currentPrice p {
    font-weight: 700;
}

.movementUp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #13733323;
    color: #137333;
}

.movementDown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #c5221f2c;
    color: #a50e0e;
}

.movementUp span, .movementDown span {
    margin-right: 5px;
}
