.theme {
    margin-left: auto;
    margin-right: 2.5rem;
}

.themeDark {
    margin-left: auto;
    margin-right: 2.5rem;
}

.theme button {
    font-size: 2rem;
    color: var(--heading-color);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.themeDark button {
    font-size: 2rem;
    color: rgb(253, 251, 224);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
