@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    --heading-color: rgb(58, 58, 58);
    --app-heading-color-light-mode: #5f6368;
    --app-heading-color-dark-mode: rgb(253, 251, 224);
    --app-text-color-light-mode: #202124;
    --app-text-color-dark-mode: rgb(253, 251, 224);
    --app-background-color-light-mode: #fff;
    --app-background-color-dark-mode: #002631;
    --app-height: 25rem;
    --app-width: 25rem;
}
a {
    text-decoration: none;
    color: #000;
}

.newsArea {
    width: 100%;
    min-height: 60%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.landing {
    padding-left: 15vw;
    background-color: #e7e7e7;
    transition: 0.2s all ease;
}
.landingDark {
    background-color: #002631;
    transition: 0.2s all ease;
}

.newsArea {
    width: 100%;
    min-height: 60%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .landing {
        padding-left: 20vw;
    }
}

@media only screen and (max-width: 1300px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .landing {
        padding-left: 20vw;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 11px;
    }
    .landing {
        padding-left: 0;
    }
}
