@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    --heading-color: rgb(58, 58, 58);
    --app-heading-color-light-mode: #5f6368;
    --app-heading-color-dark-mode: #dbe2e7;
    --app-text-color-light-mode: #202124;
    --app-text-color-dark-mode: rgb(253, 251, 224);
    --app-background-color-light-mode : #fff;
    --app-background-color-dark-mode: rgb(7, 0, 44);
    --app-border-light-mode: 1px solid #ccc;
    --app-border-dark-mode: 1px solid rgb(13, 0, 80);
    --app-height: 400px;
    --app-width: 400px;

}
a {
    text-decoration: none;
    color: #000;
}
.main {
    padding-left: 200px;
    background-color: #e7e7e7;
    transition: 0.2s all ease;
}
.mainDark {
    padding-left: 200px;
    background-color: rgb(14, 10, 29);
    transition: 0.2s all ease;
}
