.infoApps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin: 0;
}

@media only screen and (max-width: 480px) {
    .infoApps {
        padding-top: 13vh;
    }
}
